<ion-content>
  <body>
    <main class="container">
      <ion-list color="aqua">
        <h2><span class="Sis">Sis<span class="resto">C</span></span><ion-icon name="reader-outline" color="btns"></ion-icon><span class="resto">ntract</span></h2>
        <ion-button class="botao-cadastro" color="btns" expand="block" type="submit" (click)="gotoEmpregado()">
          Login Empregado<ion-icon name="person-circle-outline" slot="end"></ion-icon>
        </ion-button>
        <ion-button class="botao-cadastro" color="btns" expand="block" type="submit" (click)="gotoEmpresa()">
          Login Empresa<ion-icon name="business-outline" slot="end"></ion-icon>
        </ion-button>
        <footer>
          <p class="footer-text">Novo no SisContract?</p>
          <ion-button class="botao-cadastro" color="btns" expand="block" type="submit" (click)="gotoCadastrar()">
            Cadastre-se
          </ion-button>
        </footer>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button color="btns" (click)="gotoOfflineMode()">
          <ion-label>Entrar como Convidado</ion-label>
        </ion-button>
      </ion-fab>
    </main>
  </body>
</ion-content>