<ion-content>
  <body>
    <main class="container">
      <ion-list color="aqua">
        <h2><span class="Sis">Sis<span class="resto">C</span></span><ion-icon name="reader-outline" color="btns"></ion-icon><span class="resto">ntract</span></h2>
        <form action="">
            <div class="input-field">
                <ion-input name="document" id="document" placeholder="CPF/CNPJ"  type="number"></ion-input>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <ion-input type="password" name="password" id="password" placeholder="Senha"></ion-input>
                <div class="underline"></div>
            </div>

            <ion-button class="botao-login" color="aqua" expand="block" type="submit" (click)="authLogin()">Login</ion-button>
        </form>
        <!---->
        <form #loginForm="ngForm">
          <ion-item>
            <ion-input [(ngModel)]="cpf_cnpj" (blur)="cpf_cnpj = format(cpf_cnpj)" name="cpf_cnpj"></ion-input>
          </ion-item>
        </form>
        <!---->
        <footer>
          <p class="footer-text">Novo no SisContract?</p>
          <ion-button class="botao-cadastro" color="aqua" expand="block" type="submit" (click)="gotoCadastrar()">Cadastre-se</ion-button>
        </footer>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button color="btns" (click)="gotoOfflineMode()">
          <ion-label>Modo Offline</ion-label>
        </ion-button>
      </ion-fab>
    </main>
  </body>
</ion-content>