<ion-header>
  <ion-toolbar color="btns">
    <ion-title> Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Escolha o modelo do seu Currículo</ion-label>
  <ion-radio-group value="custom-checked">
    <ion-item>
      <ion-label>Modelo 1</ion-label>
      <ion-radio id="m1" value="modelo1" (click)="curriculoModelo1()"></ion-radio>
      <!--Modal para ver como é o modelo ---  isso por imagem dentro do modal-->
    </ion-item>
    <ion-item>
      <ion-label>Modelo 2</ion-label>
      <ion-radio id="m2" value="modelo2" (click)="curriculoModelo2()"></ion-radio>
      <!--Modal para ver como é o modelo ---  isso por imagem dentro do modal-->
    </ion-item>
    <ion-item>
      <ion-label>Modelo 3</ion-label>
      <ion-radio value="modelo3"></ion-radio>
      <!--Modal para ver como é o modelo ---  isso por imagem dentro do modal-->
    </ion-item>
  </ion-radio-group>

  <ion-button (click)="criaCurriculo()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>

</ion-content>
