<ion-header>
  <ion-toolbar color="btns">
    <ion-title> Propostas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="aqua">
          <ion-label>Solicitações enviadas</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-searchbar [debounce]="500" (ionChange)="handleChange($event)"></ion-searchbar>
          <ion-item *ngFor="let empresa of empresas">
            <ion-buttons slot="end">
              <ion-button (click)="ver(empresa)">
                <ion-icon name="eye-outline" class="iconforward" color="btns"></ion-icon>
              </ion-button>
              <ion-button (click)="ver(empresa)">
                <ion-icon name="mail-outline" class="iconforward" color="btns"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label>{{ empresa.nome }}</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="aqua">
          <ion-label>Propostas</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-searchbar [debounce]="500" (ionChange)="handleChange($event)"></ion-searchbar>
          <ion-item *ngFor="let result of results">
            <ion-buttons slot="end">
              <ion-button (click)="ver(result)">
                <ion-icon name="eye-outline" class="iconforward" color="btns"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label>{{ result }}</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  
</ion-content>

