<ion-header [translucent]="true">
  <ion-toolbar color="btns">
    <ion-title> Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Logado Como:{{empresa?.nome}}</ion-label>
  </ion-item>
  <ion-item>
    <h5><p>Notas da versão beta_1.0.3</p></h5>
    <h4>
      <p>*Melhorias no sidemenu</p>
      <p>*Correções da "entrevista fantasma"</p>
      <p>*Correção do erro de cadastrar apenas empresas</p>
      <p>Apresentação do status de contratação para empregados</p>
    </h4>
  </ion-item>
</ion-content>
