<ion-header>
  <ion-toolbar>
    <ion-title>modelo1</ion-title>
    <ion-buttons>
      <ion-button (click)="download()" expand="block" fill="clear" shape="round">
        Click me
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <body class="lang- " id="main" #main>
  <div >
    
    <h1 id="title">Marcos Vinicius Boava</h1>
    <div class="section section-qualifications">
      <h2 class="title">Contato</h2>
      <div class="set">
              <div class="item">
                <span class="course l">E-mail:</span>
              </div>
            </div>
      <div class="clear"> </div>
    </div>
    <div class="section section-qualifications">
      <h2 class="title">Documento</h2>
      <div class="set">
              <div class="item">
                <span class="course l">CPF:</span>
              </div>
            </div>
      <div class="clear"> </div>
    </div>
  
    <div class="section section-qualifications">
      <h2 class="title">Area_de _tuação</h2>
      <div class="set">
              <div class="item">
                <span class="course l">aaa</span>
              </div>
            </div>
      <div class="clear"> </div>
    </div>
      <div class="section section-qualifications">
        <h2 class="title">Especializções</h2>
        <div class="set">
                <div class="item">
                  <span class="course l">java , c++, c#, angular, firebase, sql</span>
                </div>
              </div>
        <div class="clear"> </div>
      </div>
        <div class="section section-education">
        <h2 class="title">Educação</h2>
        <div class="set">
              <div class="item">
                <h3><span class="course l">ensino médio</span>
                </h3>
              </div>
              </div>
        <div class="clear"> </div>
      </div>
        <div class="section section-references">
        <h2 class="title">Experiência</h2>
        <div class="set">
                <div class="item">
                  <span class="course l">mas bah guri</span>
                </div>
              </div>
        <div class="clear"> </div>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, labore maiores voluptate ipsa porro, molestias maxime quidem veritatis ducimus tempora ad facilis et odit quam nesciunt. Id, doloremque aperiam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, labore maiores voluptate ipsa porro, molestias maxime quidem veritatis ducimus tempora ad facilis et odit quam nesciunt. Id, doloremque aperiam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, labore maiores voluptate ipsa porro, molestias maxime quidem veritatis ducimus tempora ad facilis et odit quam nesciunt. Id, doloremque aperiam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, labore maiores voluptate ipsa porro, molestias maxime quidem veritatis ducimus tempora ad facilis et odit quam nesciunt. Id, doloremque aperiam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, labore maiores voluptate ipsa porro, molestias maxime quidem veritatis ducimus tempora ad facilis et odit quam nesciunt. Id, doloremque aperiam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, labore maiores voluptate ipsa porro, molestias maxime quidem veritatis ducimus tempora ad facilis et odit quam nesciunt. Id, doloremque aperiam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis, labore maiores voluptate ipsa porro, molestias maxime quidem veritatis ducimus tempora ad facilis et odit quam nesciunt. Id, doloremque aperiam?</p>
      </div>
      
  </div>
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  </body>
</ion-content>
