<ion-content>
  <body>
    <main class="container">
      <ion-list color="aqua">
        <h2><span class="Sis">Sis<span class="resto">C</span></span><ion-icon name="reader-outline" color="btns"></ion-icon><span class="resto">ntract</span></h2>
        <form [formGroup]="form_recover" (ngSubmit)="submitForm()">
            <div class="input-field">
                <ion-input formControlName="email" name="document" id="email" placeholder="E-Mail *"  type="text"></ion-input>
                <div class="underline"></div>
            </div>
            <div *ngIf="(((errorControl.email.touched) || (errorControl.email.dirty))&& errorControl.email.errors)">
              <span *ngIf="errorControl.email.errors?.required ">Campo Obrigatório!</span>
              <span *ngIf="errorControl.email.errors?.email"> Campo deve ser do tipo E-mail</span>
            </div>
            <ion-button class="botao-login" color="btns" expand="block" type="submit">Recuperar Senha</ion-button>
        </form>
      </ion-list>
    </main>
  </body>
</ion-content>
