<ion-content>
  <body>
    <main class="container">
      <ion-list color="aqua">
        <h2><span class="Sis">Sis<span class="resto">C</span></span><ion-icon name="reader-outline" color="btns"></ion-icon><span class="resto">ntract</span></h2>
        <form [formGroup]="form_cadastro" (ngSubmit)="submitForm()">

            <div class="input-field">
                <ion-input type="text" placeholder="E-mail" formControlName="username"></ion-input>
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
                <div class="underline"></div>
            </div>

            <div class="input-field">
              <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
              <div class="underline"></div>
            </div>

            <div class="input-field">
              <ion-input type="number" placeholder="{{documento}}" formControlName="documento"></ion-input>
              <div class="underline"></div>
            </div>

            <div class="btns-doc">
              <ion-label color="btns">Documento</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label color="btns">Cpf</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label color="btns">Cnpj</ion-label>
            </div>
            <footer>
              <!--Parte responsável pelos termos de uso-->
              <div class="check-termos">
                <ion-checkbox></ion-checkbox>
                <ion-label class="termos-uso-label">Aceito os <span id="open-modal" (click)="setOpen(true)">Termos de uso.</span> </ion-label>
              </div>
              <!--<ion-button id="open-modal" expand="block">Termos e Condições de Uso</ion-button>-->
              <ion-modal [isOpen]="isModalOpen">
                <ng-template>
                  <ion-header>
                    <ion-toolbar color="btns">
                      <ion-title>Termos de Uso</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false)">Fechar</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <p class="ion-padding-horizontal">
                      Ao usar nossa aplicação você aceita o uso dos seus dados para mero fim de funcionamento,
                      atualmente esses dados não recebem proteção contra vazamentos, tão pouco são fornecidos a
                      terceiros.
                      Esse app é de uso gratuito e colaborativo desde que em respeito as seguintes regras:
                    </p>
                    <ul>
                      <li>Não utilização do código (mesmo que modificado) sem a devida citação</li>
                      <li>Usar em respeito a outros usuários que possam haver na plataforma (ficticios ou não)
                        com o caso de assumir as devidas responsabilidades em caso de contravenção penal</li>
                    </ul>
                    <p class="empresa-termos">SisContract Coorporation©</p>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-button class="botao-cadastro" color="btns" expand="block" type="submit" (click)="cadastrar()">Cadastre-se</ion-button>
            </footer>
        </form>


      </ion-list>
    </main>
  </body>
</ion-content>
