<ion-header class="tool-bar">
  <ion-toolbar color="btns">
    <ion-title> Editar informacoes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <main class="container">
      <ion-list color="aqua">
        <h2><span class="Sis">Sis<span class="resto">C</span></span><ion-icon name="reader-outline" color="btns" class="iconeSC"></ion-icon><span class="resto">ntract</span></h2>
        <form [formGroup]="formEdit" (ngSubmit)="submitForm()">

            <div class="input-field">
              <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
              <div class="underline"></div>
            </div>
            <div *ngIf="(((errorControl.nome.touched) || (errorControl.nome.dirty))&& errorControl.nome.errors)">
              <span *ngIf="errorControl.nome.errors?.required ">Campo Obrigatório!</span>
            </div>
            <div class="input-field">
              <ion-input type="text" placeholder="Cargos Ofertados" formControlName="cargos"></ion-input>
              <div class="underline"></div>
            </div>
            <div *ngIf="(((errorControl.cargos.touched) || (errorControl.cargos.dirty))&& errorControl.cargos.errors)">
              <span *ngIf="errorControl.cargos.errors?.required ">Campo Obrigatório!</span>
            </div>

            <footer>
              <ion-button class="botao-cadastro" color="btns" expand="block" type="submit">Editar</ion-button>
            </footer>
        </form>
        <ion-button (click)="onClick()" expand="block" class="botao-cadastro" color="btns">Dicas De Uso<ion-icon name="alert-circle-outline"></ion-icon></ion-button>
      </ion-list>
    </main>
  </body>
</ion-content>
