<ion-header class="tool-bar">
  <ion-toolbar color="btns">
    <ion-title> Editar informacoes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <main class="container">
      <ion-list color="aqua">
        <h2><span class="Sis">Sis<span class="resto">C</span></span><ion-icon name="reader-outline" color="btns" class="iconeSC"></ion-icon><span class="resto">ntract</span></h2>
        <form [formGroup]="formEdit" (ngSubmit)="submitForm()">

            <div class="input-field">
              <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
              <div class="underline"></div>
            </div>
            <div class="input-field">
              <ion-input type="text" placeholder="Endereço" formControlName="endereco"></ion-input>
              <div class="underline"></div>
            </div>
            <div class="input-field">
              <ion-input type="text" placeholder="Cargos Ofertados" formControlName="cargos"></ion-input>
              <div class="underline"></div>
            </div>

            <footer>
              <ion-button class="botao-cadastro" color="btns" expand="block" type="submit">Editar</ion-button>
            </footer>
        </form>

      </ion-list>
    </main>
  </body>
</ion-content>
